/* 
COLORS
BACKGROUND-COLOR: #202124
FOOTER-COLOR: #171717
BUTTON-COLOR: #303134
GRAY-TEXT: #9aa0a6
BORDER-COLOR: #5f6368
BUTTON-TEXT: #e8eaed
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #202124;
}


/* NAVIGATION BAR */

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 1.2rem;
}

.profile {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}


/* SEARCH - SECTION */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.search-container {
    width: 32rem;
    height: 2.3rem;
    border-radius: 100px;
    border: 1px solid #5f6368;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-container:active,
.search-container:hover {
    background-color: #303134;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.search-icon {
    width: 16px;
    height: 16px;
    stroke: #9aa0a6;
}

.search-box {
    width: 28.5rem;
    height: 2rem;
    font-size: 0.9rem;
    background-color: #20212400;
    color: #e8eaed;
    border: none;
    outline: none;
}


/* 
BUTTONS - SEARCH SECTION
*/

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.btn {
    padding: 0.45rem 0.9rem;
    font-size: 0.7rem;
    color: #e8eaed;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 3px;
}

.btn:hover {
    border: 1px solid #5f6368;
}


/* 
LANGUAGE SECTION
*/

.language {
    font-size: 0.8rem;
    color: #bdc1c6;
}

.btn-lang {
    padding: 0.22rem 0.7rem;
    font-size: 0.7rem;
    color: #8ab4f8;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 3px;
    text-decoration: none;
}

.btn-lang:hover {
    border: 1px solid #8ab4f885;
}


/* 
FOOTER
*/

footer {
    font-size: 0.7rem;
    height: 5rem;
    background-color: #171717;
    color: #9aa0a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 1rem 2rem; */
    gap: 0.7rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.government {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    border-bottom: 1px solid #5f6368;
}

.rel-links {
    display: flex;
    align-items: center;
    padding-left: 1.8rem;
    padding-bottom: 4px;
    gap: 1.5rem;
}

.f-link {
    color: #9aa0a6;
    text-decoration: none;
}